html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
	/* Margin bottom by footer height */
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	/* Set the fixed height of the footer here */
	line-height: 60px;
	/* Vertically center the text there */
	background-color: #f5f5f5;
	/* Not required */
	/* margin-bottom:5px; */
}
body {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0,0,0,.87);
}

#attinfo {
	margin-bottom: 100px;
}
/* div{
    margin:20px 20px;
} */

.responsive-iframe {
	overflow: scroll;
	border: 0px solid black; 
	padding: 10%;
	position: absolute;
	width: 100%;
	height: 100%;
  }